@page "/{year:int:length(4)}/{month:int:length(2)}/{slug:minlength(1)}"
@model DetailModel
@{
    var post = Model.Detail.BlogPost;
    ViewData["Title"] = post.Title;
}

<div class="row mb-md-3">
    <div class="card">
        <h5 class="card-header"><a href="@post.GetLink()">@post.Title</a></h5>
        <div class="card-body pt-2">
            <div class="text-muted text-right">
                <span class="author">@post.AuthorDisplayName</span>
                发表于
                <time datetime="@post.PubDate" pubdate>@post.PubDate.ToChineseTime().ToString("yyyy-MM-dd HH:mm")</time>
                , 阅读
                (<span class="viewcount">@post.ViewCount</span>)
            </div>
            @Html.Raw(post.Content)
        </div>
        <div class="card-footer text-muted">
            <i class="fa fa-tag"></i>
            @if (post.Tags != null)
            {
                foreach (var tag in post.Tags)
                {
                    <text> [ <a href="~/tag/@tag">@tag.AsTag().Name</a> ]</text>
                }
            }
        </div>
    </div>
</div>

@section Scripts
{
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/highlight/styles/vs2015.min.css" />
        <script src="~/lib/highlight/highlight.min.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/vs2015.min.css"
            asp-fallback-href="~/lib/highlight/styles/vs2015.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
            crossorigin="anonymous"
            integrity="sha256-pID4+eRCTgxKCMuuV1xUteqtHBvQcvrYtKYHhJ8V4Js=" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"
            asp-fallback-href="~/lib/highlight/highlight.min.js"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
            crossorigin="anonymous"
            integrity="sha256-iq71rXEe/fvjCUP9AfLY0cKudQuKAQywiUpXkRFSkLc="></script>
    </environment>
    <script>hljs.initHighlightingOnLoad();</script>
}