@page "/admin/posts"
@model MZBlog.Web.Pages.Admin.BlogPostsModel
@namespace MZBlog.Core.Enums

@{
    ViewData["Title"] = "文章管理";
}
<div style="margin-top:10px;">
    <h2>
        <i class="fa fa-list" aria-hidden="true"></i> 文章管理
        <a class="pull-right btn btn-success" style="font-size:12px;" href="/admin/posts/new">
            <i class="fa fa-edit"></i>
            新建
        </a>
    </h2>
</div>
<table class=" table table-hover table-bordered">
    <thead>
        <tr>
            <th>标题</th>
            <th class="text-center">状态</th>
            <th>时间</th>
            <th>标签</th>
            <th>作者</th>
            <th class="text-right">阅读</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BlogPosts.Posts)
        {
            <tr>
                <td>
                    <a href="/admin/posts/edit/@item.Id"> @item.Title</a>
                    <a href="@item.GetLink()" target="_blank" title="前端预览" class="text-dark"><i class="fa fa-play-circle-o" aria-hidden="true"></i> </a>
                </td>
                <td class="text-center">
                    @switch (item.Status)
                    {
                        case PublishStatus.Published:
                            <i class="fa fa-check-circle-o text-success" aria-hidden="true"></i>
                            break;
                        default:
                            <i class="fa fa-file-text-o text-warning" aria-hidden="true"></i>
                            break;
                    }
                </td>
                <td class="same-width-nums">@item.CreatedUTC.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@string.Join(",", item.Tags)</td>
                <td>@item.AuthorDisplayName</td>
                <td class="text-right same-width-nums">@item.ViewCount</td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="博客分页">
    <ul class="pagination justify-content-center">
        @if (Model.BlogPosts.HasPrevPage)
        {
            <li class="page-item">
                <a href="?page=@(Model.BlogPosts.Page - 1)" class="page-link"><i class="fa fa-angle-left" aria-hidden="true"></i> 上一页</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fa fa-angle-left" aria-hidden="true"></i> 上一页</a>
            </li>
        }
        @if (Model.BlogPosts.HasNextPage)
        {
            <li class="page-item">
                <a href="?page=@(Model.BlogPosts.Page+1)" class="page-link">下一页 <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true"> 下一页 <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </li>
        }
    </ul>
</nav>