@using System
@using System.Linq
@using MZBlog.Core.Documents
@using MZBlog.Core.Extensions
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MZBlog.Core.ViewProjections.Admin.BlogPostEditViewModel>
@{
    Layout = "_AdminLayout.cshtml";
}
<div class="row">
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> <a href="~/mz-admin">控制面板</a> </li>
        <li class="active"><i class="fa fa-edit"></i> 更新文章</li>
    </ol>
</div>

<div class="row">
    <article class="col-lg-6" style="padding-left:0;">
        <form method="post" role="form" action="~/mz-admin/posts/edit/@Model.BlogPost.Id">
            <div class="form-group">
                <input id="post-title" type="text" class="form-control" name="Title" placeholder="标题" value="@Model.BlogPost.Title" required />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="TitleSlug" placeholder="固定链接Key" value="@Model.BlogPost.TitleSlug" required />
            </div>
            <div class="form-group">
                <textarea id="post-content" rows="30" name="MarkDown" class="form-control" placeholder="内容" required>@Model.BlogPost.MarkDown</textarea>
            </div>
            <div class="form-group">
                <input name="Tags" id="tags" class="form-control" value="@(Model.BlogPost.Tags==null?string.Empty:string.Join(",", Model.BlogPost.Tags.Select(t => t.Name)))"  />
            </div>
            <div class="form-group">
                <label for="pubdate">发布时间(UTC):</label>
                <input id="pubdate" name="PubDate" value="@(Model.BlogPost.PubDate != DateTime.MinValue ? Model.BlogPost.PubDate : DateTime.UtcNow)" />
                &loz;
                <label for="published">发布</label>
                <input id="published" name="Published" value="true" type="checkbox" @(Model.BlogPost.PubDate <= DateTime.UtcNow && Model.BlogPost.Status == PublishStatus.Published ? "checked='checked'" : "") />
                <input type="submit" value="保存" class="btn btn-primary pull-right" />
            </div>
        </form>
    </article>
    <div class="col-lg-6" style="padding:0;">
        <article class="panel panel-default">
            <header class="panel-heading">
                <h3 class="panel-title">
                    <a id="post-title-preview" href="@Model.BlogPost.GetLink()">@Model.BlogPost.Title</a>
                </h3>
            </header>
            <div class="panel-meta text-right">
                <span class="author">@ViewBag.CurrentUser.Value.DisplayName</span>
                发表于
                <time>@DateTime.UtcNow.ToChineseTime().ToString("yyyy-MM-dd hh:mm")</time>
            </div>
            <div id="post-content-preview" class="panel-body">
                @Html.Raw(Model.BlogPost.Content)
            </div>
        </article>
    </div>
</div>
@section PostScripts{
    <script src="~/scripts/jquery.tagsinput.js"></script>
    <script src="~/scripts/markdown.js"></script>
    <script>
        $('#tags').tagsInput({ 'width': '100%', 'defaultText': '添加标签' });
        $('#post-title').on('change', function () {
            var _title = $(this).val();
            $('#post-title-preview').text(_title);
        });
        $('#post-content').on('keyup', function () {
            var _contentHtml = markdown.toHTML($('#post-content').val());
            $("#post-content-preview").html(_contentHtml);
            $('pre code').each(function (i, e) { hljs.highlightBlock(e) });
        });
    </script>
}