@using MZBlog.Core.Extensions
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MZBlog.Core.ViewProjections.Home.RecentBlogPostsViewModel>
@{
    Layout = "_Layout.cshtml";
}

@foreach (var blogPost in Model.Posts)
{
    <article class="panel panel-default">
        <header class="panel-heading">
            <h3 class="panel-title">
                <a href="@blogPost.GetLink()">@blogPost.Title</a>
            </h3>
        </header>
        <div class="panel-meta text-right">
            <span class="author">@blogPost.AuthorDisplayName</span>
            发表于
            <time pubdate>@blogPost.PubDate.ToChineseTime().ToString("yyyy-MM-dd HH:mm")</time>
            , 阅读
            (<span class="viewcount">@blogPost.ViewCount</span>)
        </div>
        <div class="panel-body">
            @Html.Raw(blogPost.Description)
            <a href="@blogPost.GetLink()">阅读全文</a>
        </div>
        <div class="panel-footer">
            <i class="glyphicon glyphicon-tags"></i>
            @foreach (var tag in blogPost.Tags)
            {
                <text> [ <a href="~/tag/@tag.Slug">@tag.Name</a> ]</text>
            }
        </div>
    </article>
}
<ul class="pager">
    @if (Model.HasPrevPage)
    {
        <li class="next">
            @if (Model.Page == 2)
            {
                <a href="~/" title="较新的"><i class="glyphicon glyphicon-arrow-right"></i></a>
            }
            else
            {
                <a href="~/page/@(Model.Page - 1)" title="较新的" class="next"><i class="glyphicon glyphicon-arrow-right"></i></a>
            }
        </li>
    }
    @if (Model.HasNextPage)
    {
        <li class="previous">
            <a href="~/page/@(Model.Page + 1)" title="较旧的"><i class="glyphicon glyphicon-arrow-left"></i></a>
        </li>
    }
</ul>
